global: #1
  imageRegistry: mirror.gcr.io # 3

deploymentStrategy: # 77
  rollingUpdate:
    maxSurge: 0
    maxUnavailable: 1

service: # 231
  type: LoadBalancer
  loadBalancerIP: 192.168.64.90

ingress: # 280
  enabled: false

resources: # 354
  limits: null
  requests:
    cpu: 10m
    memory: 10Mi

envValueFrom: # 548
  MARIADB_PASSWORD:
    secretKeyRef:
      name: mariadb-credentials
      key: mariadb-grafana-password

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: prometheus
      type: prometheus
      access: proxy
      url: http://prometheus
    - name: loki
      type: loki
      access: proxy
      url: http://loki:3100

grafana.ini: # 876
  database:
    type: mysql
    host: mariadb.mariadb:3306
    name: grafana
    user: grafana
    password: $__env{MARIADB_PASSWORD}
